html, body{
  margin: 0;
  color: #fff;
  font: 16px/26px Arial,Verdana,sans-serif;;
}

body{
  width: 100vw;
  display: flex;
  flex-direction: column;
}

ul{
  list-style-type: none;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  margin: 10px;
  padding: 0;
}

li{
  list-style: none;
}

li a{
  text-decoration: none;
  color: #fff;
}
a{
  cursor: pointer;
}

footer{
  display: flex;
  justify-content: center;
  background-color: #000;
}

.flex-row{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.flex-col{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whole{
  width: 100vw;
  height: 100vh;
}

#nav-scroll{
  width: 100vw;
  position: fixed;
}

.placement{
  width: 5%;
}

.page-header{
  display: flex;
}

.page-header nav{
  width: 79%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
}

#logo img{
  width: 200px;
  height: 50px;
  background-color: transparent;
}

.page-header ul{
  width: 60%;
  font-size: 15px;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
}



#burger-place{
  width: 10%;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
  margin-top: 45px;
}

.shop{
  margin-right: 25px;
}

.burger{
  margin-right: 5px;
}

.burger div {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin: 3px 0;
}



.bg1{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(./img/spacex.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.notes-one{
  position: absolute;
  top: 50vh;
  left: 50vw;
}

.title{
  display: flex;
  font-size: 20px;
  opacity: 1;
  visibility: inherit;
  margin-bottom: 10px;
}

.content{
  display: flex;
  font-size: 45px;
  font-weight: 1000;
  opacity: 1;
  visibility: inherit;
  line-height: 50px;
  margin-bottom: 40px;
}

button{
  cursor: pointer;
}

.re{
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
  padding: 22px 70px;
  margin-top: 40px;
}

.test{
  margin-top: 500px;
}

.re:link, .re:visited{
  text-decoration: none;
  border: 2px solid white;
  padding: 10px 20px;
  text-align: center;
}

.re:hover, .re:active{
  background-color: white;
  color: black;
}












/* .bg2{
  width: 100vw;
  height: 100vh;
  background-image: url(./img/second_img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.vid-bg{
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
}

#text-overlay{
  position: absolute;
  z-index: 135;
}

.notes-two{
  position: relative;
  top: 30vh;
  left: 20vw;
}

.bg3{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(./img/crew.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.notes-three{
  position: absolute;
  bottom: 20vh;
  left: 20vw;
}

.par-title{
  display: flex;
  font-size: 45px;
  font-weight: 1000;
  opacity: 1;
  visibility: inherit;
  line-height: 50px;
  margin-bottom: 40px;
}


.par{
  font-size: 18px;
}


.bg4{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(./img/dragon-docking-simulator.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.notes-four{
    position: absolute;
    bottom: 10vh;
    left: 20vw;
}



.bg5{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(./img/starship.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.notes-five{
  position: absolute;
  top: 10vh;
  left: 20vw;
}




.bg6{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(./img/lunar-starship.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.notes-six{
  position: absolute;
  top: 20vh;
  right: 15vw;
}


#footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  height: 10vh;
  width: 40%;
}

.cw{
  font-size: 12px;
  color: #777;
}

.txt{
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

/* .spacing{
  display: flex;
  width: 10%;
} */